{% extends "layout.html" %}

{% block content %}
{% if user.is_authenticated %}
yo
		{% for post in complain_list%}

<h6>NAME -{{post.name}}</h6>
<h6>Id - {{post.rollno}}</h6>
<h6>Email - {{post.student_email}}</h6>
<h6>TITLE-{{post.title}}</h6>
<h6>TEXT-{{post.text}}</h6>
ROOM-{{post.room}}
CREATED AT-{{post.created_at}}
COMPLAIN NOTED IN REGISTER -{{post.complain_noted}}
COMPLAIN CLOSED-{{post.complain_complete}}



		{%endfor%}
{%else%}
<h1>Please Login first</h1>
{%endif%}
	{% endblock content %}
